* {
	box-sizing: border-box;
}

body{
	margin: 0;
	font-family: 'Alegreya Sans', sans-serif;
	background-color: #EFEFEF;
}

header {
	background-color: #062F4F;
	color: #EFEFEF;
	padding: 10px;
}

header p{
	text-align: center;
	font-family: 'Dancing Script', cursive;
	font-size: 30px;
	font-weight: normal;
	color: #FFCE00;
	margin: 0;
}

header h1 {
	font-family: 'Dancing Script', cursive;
	margin: 0;
	text-align: center;
	font-size: 60px;
}

h2, h3, h4{
	color: #062F4F;
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	width: 100%;
	margin-bottom: 20px;
}

.location {
	color: #FFF;
	margin: 0;
	font-size: 25px;
}

.center{
  text-align: center;
}

main {
	margin: 20px auto;
	width: 60%;
	height: 400px;
}


/*Project List*/
section{
	margin: 40px auto;
	width: 80%;
}

section img{
	width: 100%;
}

.project {
	text-align: center;
	border-bottom: 1px solid #FFCE00;
	padding: 20px;
	margin-top: 40px;
}

.project p{
	margin: 5px;
	color: #062F4F;
	font-size: 20px;
}
.project a{
	width: 100px;
	display: inline-block;
	margin: 0 10px;
	font-size: 20px;
}

.project a:link,
.project a:active,
.project a:visited {
	text-decoration: none;
	color: #FFF;
	background-color: #062F4F;
}

.project a:hover {
	text-decoration: underline;
}

.project .link {
	color: #FFF;
	margin: 10px;
}

.site-name{
	color: #FFCE00;
	font-weight: bold;
}

/*About Section*/
#about {
	text-align: center;
	width: 60%;
}

#about img{
	border-radius: 50%;
	width: 30%;
}

#about p{
	color: #062F4F;
	font-size: 20px;
}


/*CONTACT LIST*/
.contact-list-footer {
	list-style: none;
	margin: 0;
	text-align: center;
}

.contact-list-footer li{
	display: inline-block;
}

.contact-list-footer .social-icon {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	opacity: .8;
	margin-right: 20px;
	font-size: 30px;
	color: #062F4F;
}

.contact-list {
	list-style: none;
	clear: both;
	float: right;
	margin: 0;
}

.social-icon:hover {
	opacity: 2;
	animation-name: spin;
	animation-duration: 1s;
}

@keyframes spin {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}

footer {
	background-color: #062F4F;
	height: 50px;
	margin: 0;
}