* {
	box-sizing: border-box;
}

body{
	margin: 0;
	font-family: 'Alegreya Sans', sans-serif;
	background-color: #EFEFEF;
}

header {
	background-color: #062F4F;
	color: #EFEFEF;
	padding: 10px;
}

header p{
	text-align: center;
	font-family: 'Dancing Script', cursive;
	font-size: 30px;
	font-weight: normal;
	color: #FFCE00;
	margin: 0;
}

header h1 {
	font-family: 'Dancing Script', cursive;
	margin: 0;
	text-align: center;
	font-size: 60px;
}

h2, h3, h4{
	color: #062F4F;
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	width: 100%;
	margin-bottom: 10px;
}

.location {
	color: #FFF;
	margin: 0;
	font-size: 25px;
}

main {
	margin: 20px auto;
	width: 60%;
	height: 400px;
}

.about-section {
    overflow: auto;
    width: 80%;
    margin: 0 auto;
}gi

.about-section h2 {
  text-align: center;
  margin-top: 40px;
}

.about-left {
  width: 20%;
  float: left;
  color: #062F4F;
}

.about-left img {
  width: 75%;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  height: auto;
}

.about-right {
  width: 80%;
  float: left;
  padding: 40px 0;
}

.about-section p {
	width: 75%;
	color: #062F4F;
	font-size: 20px;
	margin: 5px 5px;
	text-align: center;
}

.contact-list-footer {
  list-style: none;
  padding: 0;
  text-align: center;
}

.contact-list-footer li {
  display: inline-block
}

/*Project List*/

section{
	width: 80%;
	margin: 50px auto;
}

section img{
	width: 80%;
}

section .project {
	text-align: center;
	border-bottom: 1px solid #FFCE00;
	padding: 20px;
	margin: 50px auto;
}

.project p{
	margin:25px auto 25px auto;
	color: #062F4F;
	font-size: 25px;
	width: 60%;
}

.project a{
	width: 100px;
	display: inline-block;
	font-size: 20px;
	padding: 10px;
	font-weight: bold;
	margin: 10px;
}

.project a:link,
.project a:active,
.project a:visited {
	text-decoration: none;
	color: #FFF;
	background-color: #062F4F;
}

.site-name{
	color: #cdae2c;
	font-weight: bold;
}

section.project:nth-last-child(1) {
   border: 0px;
}

.project a:nth-child(even) {
   background-color: #FFCE00 ;
}

/*CONTACT LIST*/
.contact-list-footer {
	list-style: none;
	margin: 0;
	text-align: center;
}

.contact-list-footer li{
	display: inline-block;
}

.contact-list-footer .social-icon {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	opacity: .8;
	margin: 8px;
	font-size: 30px;
	color: #FFCE00;
}

.contact-list {
	list-style: none;
	clear: both;
	float: right;
	margin: 0;
}

.social-icon:hover {
	opacity: 2;
	animation-name: spin;
	animation-duration: 1s;
}

@keyframes spin {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}

footer {
	background-color: #062F4F;
	height: 50px;
	margin: 0;
}