@media screen and (max-width: 960px) {

	#projects {
		width: 80%;
	}

	.project {
		width: 100%;
		margin: ;
	}

	.about-section {
		height: auto;
	}

	#about {
		width: 91.66%;
		font-size: 40px;
	}

	.summary {
		width: 100%;
		margin: 10px;
		display: block;
		float: none;
	}

	#about img{
		border-radius: 50%;
		width: 40%;
		display: block;
		float: none;
		margin: 0 auto;
	}

}

