@media screen and (max-width: 960px) {

	#projects {
		width: 91.66%;
		margin: 20px 4.17%;

	}

	.project {
		width: 100%;
	}

	.project p {
		width: 100%;
	}

	.about-section p {
		width: 100%;
	}

	.about-left {
	  width: 100%;
	  float: left;
	  color: #062F4F;
	  text-align: center;
	}

	.about-left img {
	  width: 40%;
	  padding: 5px;
	  border-radius: 50%;
	}

	.about-right {
		width: 91.66%;
		text-align: center;
		margin: 4.17%;
	}


	.summary {
		width: 100%;
		margin: 10px;
		display: block;
		float: none;
	}

	#about img{
		border-radius: 50%;
		width: 40%;
		display: block;
		float: none;
		margin: 0 auto;
	}

	section img{
		width: 100%;
	}
}

